@charset "UTF-8";

#cse { width:100%; }
.wait { width:100%;padding:30px 0 10px 0;text-align:center;font-weight:bold; }
.con { margin:0 auto; }
.cse_b { padding:15px 0;width:100%;line-height:180%;text-align:center }

.gcsc-find-more-on-google{ padding-top:20px !important; }
.gsc-expansionArea {
    padding: 10px 0 0 0;
}

#cse span, #cse div, #cse input, #cse a, #cse strong, #cse button, #cse b, #cse u {
}
.gsc-control-cse {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
input.gsc-input {
    border-color: #BBBBBB;
    background-image:none !important;
}
input.gsc-search-button {
    border-color: #ccc;
    background-color: #fff !important;
    color:#000 !important;
}
.gsc-tabHeader.gsc-tabhInactive {
    border: 0;
    background-color: #4c4c4c;
}
.gsc-input-box {
    padding-top: 4px;
    padding-bottom: 6px;
}
.gcsc-more-maybe-branding-box {
    border: 0;
}
.gsc-cursor-box.gs-bidi-start-align {
    border: 0;
}
.gsc-tabHeader.gsc-tabhActive {
    border: #333333;
    background-color: #14bf68;
}
.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover,
.gsc-imageResult:hover {
    border-color: #fff !important;
}
.gsc-webResult.gsc-result.gsc-promotion:hover {
    border-color: #fff !important;
}
.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
    color: #00a53a !important;
}
.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b {
    color: #00a53a !important;
}
.gs-webResult.gs-result a.gs-title:hover,
.gs-webResult.gs-result a.gs-title:hover b,
.gs-imageResult a.gs-title:hover,
.gs-imageResult a.gs-title:hover b {
    color: #00a53a !important;
}
.gs-webResult.gs-result a.gs-title:active,
.gs-webResult.gs-result a.gs-title:active b,
.gs-imageResult a.gs-title:active,
.gs-imageResult a.gs-title:active b {
    color: #00a53a !important;
}
.gsc-cursor-page {
    color: #000;
}
a.gsc-trailing-more-results:link {
    color: #000;
}
.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {}
.gs-webResult div.gs-visibleUrl,
.gs-imageResult div.gs-visibleUrl {color: #000;display: none;}
.gs-webResult div.gs-visibleUrl-short {
    color: #000;
}
.gs-webResult div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long {display: none;}
.gs-promotion div.gs-visibleUrl-short {
    display: none;
}
.gs-promotion div.gs-visibleUrl-long {
    display: block;
}
.gsc-cursor-box {
    border-color: #FFFFFF;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {border: #e9e9e9 1px solid;background-color: #f3f3f3;color: #000;}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {border-color: #333333;background-color: #14bf68;color: #fff;}
.gsc-webResult.gsc-result.gsc-promotion {
    border-color: #CCCCCC;
    background-color: #E6E6E6;
}
.gsc-completion-title {
    color: #000;
}
.gsc-completion-snippet {
    color: #000;
}
.gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link *,
.gs-promotion .gs-snippet a:link {
    color: #000;
}
.gs-title, .gs-title b { color:#000 !important; text-decoration:none !important; }
.gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited *,
.gs-promotion .gs-snippet a:visited {
    color: #000;
}
.gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover *,
.gs-promotion .gs-snippet a:hover {
    color: #000;
}
.gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active *,
.gs-promotion .gs-snippet a:active {
    color: #000;
}
.gs-promotion .gs-snippet,
.gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right *  {
    color: #000;
}
.gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl-short {
    color: #000;
}